---
layout: default
---

<section class="movie">
    <figure class="movie__poster">
        <img alt="" src="assets/images/alien.jpg" />

        <figcaption>Poster do filme {{ site.title }}</figcaption>
    </figure>

    <div class="movie__infos">
        <header class="movie__header">
            <h1 class="movie__header__title">
                {{ site.title }}

                <small lang="en">{{ site.titleoriginal }}</small>
            </h1>

            <div class="movie__header__meta">
                <ul class="movie__header__meta__list movie__header__meta__list--inline">
                    <li title="Faixa etaria">{{ site.contentrating }}</li>
                    <li title="Duração">{{ site.length }}</li>
                    <li title="Gênero(s)">{% for genre in site.genres %}{{ genre }}{% unless forloop.last %}, {% endunless %}{% endfor %}</li>
                    <li title="Paíse(s) de origem">{% for country in site.countries %}{{ country }}{% unless forloop.last %}, {% endunless %}{% endfor %}</li>
                </ul>

                <dl class="movie__header__meta__list">
                    <dt>Direção:</dt>
                    <dd>{{ site.director }}</dd>

                    <dt>Escritor(es):</dt>
                    <dd>{% for writer in site.writers %}{{ writer }}{% unless forloop.last %}, {% endunless %}{% endfor %}</dd>
                </dl>
            </div>
        </header>

        <section class="movie__summary">
            <h2>Sinopse</h2>

            <p>{{ site.description }}</p>
        </section>

        <section class="movie__cast">
            <h2>Elenco</h2>

            <ul class="movie__cast__list">
                {% for ator in site.data.elenco %}
                <li>
                    <figure>
                        <img alt="" src="{{ ator.imagem }}" />

                        <figcaption>
                            {{ ator.nome }}
                            <br />
                            <i>({{ ator.personagem }})</i>
                        </figcaption>
                    </figure>
                </li>

                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Trailer</h2>

            <div class="movie__trailer">
                <iframe  class="movie__trailer__video" width="640" height="360" src="https://www.youtube.com/embed/jQ5lPt9edzQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
    </div>

    <span class="movie__bg">
        <span class="movie__bg__5"></span>
        <span class="movie__bg__4"></span>
        <span class="movie__bg__3"></span>
        <span class="movie__bg__2"></span>
        <span class="movie__bg__1"></span>
    </span>
</section>
