@charset "utf-8";
/*
preto: #020403;
cinza: #b9b9b9;
verde: #8bc324;
verde2: #3c8728;
*/

body {
    background-color: #020403;
    color: #b9b9b9;
}

:focus { outline-color: #8bc324; }

.movie {
    position: relative;
    max-width: 117rem;
}

.movie__poster { margin-top: 2rem; }

.movie__poster img {
    border: .1rem solid transparent;
    border-radius: .3rem;
    margin-bottom: .5rem;

    transition: border .1s ease-in-out;
}

.movie__poster:hover img { border-color: #b9b9b9; }

.movie__poster figcaption {
    font-size: 1.2rem;
    font-style: italic;
}

@media (min-width: 768px) {
    .movie { padding-left: 33rem; }

    .movie__poster {
        max-width: 30rem;
        margin-top: 0;

        position: fixed;
        top: 1.5rem;
        left: 1.5rem;
    }
}



.movie__header__meta__list,
.movie__header__meta__list li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.movie__header__meta__list { font-size: 1.2rem; }

.movie__header__meta__list--inline li { display: inline; }

.movie__header__meta__list--inline li:not(:first-child):before {
    content: '|';
    margin-right: .5rem;
    margin-left: .5rem;
}

.movie__header__meta__list dt,
.movie__header__meta__list dd { float: left; }

.movie__header__meta__list dt { margin-right: .4em; }

.movie__header__meta__list dd + dt { clear: left; }



.movie__cast__list,
.movie__cast__item { list-style: none; }

.movie__cast__list {
    padding-left: 0;
    margin-bottom: 0;
}

.movie__cast__item {
    text-align: center;
    margin-bottom: 3rem;
}

.movie__cast__item i { font-size: 1.2rem; }


.movie__cast__item img {
    border: .1rem solid transparent;
    border-radius: .3rem;
    margin-bottom: .5em;

    transition: border .1s ease-in-out;
}

.movie__cast__item:hover img { border-color: #b9b9b9; }



.movie__summary,
.movie__cast,
.movie__trailer { margin-top: 3rem; }

.movie__trailer { margin-bottom: 3rem; }



.movie__pics { position: relative; }

.movie__pics__list,
.movie__pics__item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.movie__pics__list {
    background-color: rgba(0,0,0, .8);
    font-size: 0;
    text-align: left;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.movie__pics__item {
    cursor: pointer;
    display: inline-block;
    padding: .5rem;
    width: 20%;

    vertical-align: middle;

    transition: background-color .2s ease-in-out;
}

.movie__pics__item:hover { background-color: rgba(0,0,0, .5); }

@media (min-width: 992px) {
    .movie__pics__item { padding: 1.5rem; }
}

.movie__pics__item img {
    border: .1rem solid transparent;
    border-radius: .3rem;

    transition: border .2s ease-in-out;
}

.movie__pics__item:hover img { border-color: #b9b9b9; }

.movie__pics__item.current { background-color: rgba(0,0,0, .5); }

.movie__pics__item.current img { border-color: #b9b9b9; }